* {
    color: rgb(48,48,46);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(244,224,224);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10%;
    width: 90%;
    background-color: rgb(189,223,216);
    border: solid 3px rgb(48,48,46);
    border-radius: 10px;
}

h1 {
    text-align: center;
}
.input-text {
    border: 1px solid rgb(127, 127, 169);
    width: 200px;
    height: 30px;
    margin-top: 10px;
    padding-left: 3px;
    background-color: aliceblue;
    border-radius: 5px;
}

.output-text {
    border: 1px dotted rgb(127, 127, 169);
    width: 200px;
    min-height: 30px;
    height: auto;
    margin-bottom: 30px;
    padding-left: 3px;
    background-color: aliceblue;
    text-align: left;
    border-radius: 5px;
}
button {
    margin: 0 10px 1em 10px;
    width: 100px;
    height: 60px;
    display: inline;
    color: aliceblue;
    background-color: rgb(217,173,201);
    cursor: pointer;
    border-radius: 5px;
}

p {
    width: 80%;
    text-align: center;
}


@media screen and (min-width: 768px) {
    main {
        width: 80%;
    }
    button {
        width: 120px;
    }
}
@media screen and (min-width: 991px) {
    main {
        width: 60%;
    }
}